<style> 

font-family: 'Syne Mono', monospace;

	* { 
		box-sizing: border-box; 
	} 
	h1 { 
		font-size: 60px;
		color: black; 
	} 
	h2 { 
		font-family: 'Syne Mono', monospace;
		font-size: 32px;
		color: rgb(104, 14, 14); 
	} 
	h3 { 
		font-family: 'Syne Mono', monospace;
		font-size: 24px;
		color: green; 
	} 		
	.header { 
		font-family: 'Syne Mono', monospace;
		max-width: 80%; 
		margin: auto;
	} 
	
	body { 
		font-family: 'Syne Mono', monospace;
		background-color: darkgrey;
		padding: 15px;
		max-width: 80%;
		margin: auto;
	} 

	a { 
		text-decoration: none; 
		color: #5673C8; 
		font-size: 24px;
	} 
	
	a:hover { 
		color: lightblue; 
	} 
	
	.row { 
		margin: 0px -18px; 
		padding: 8px; 
	} 
	
	.row > .column { 
		padding: 6px; 
	}  
	.column1 { 
		float: center; 
		width: 100%; 
	} 
	.column { 
		width: 70%; 
	} 
	
	.content { 
		background-color: lightgrey; 
		padding: 10px; 
		border: 2px solid black; 
	} 
	
	@media screen and (max-width: 800px) { 
		.column { 
			width: 75%; 
		} 
	} 

	@media screen and (max-width: 1000px) { 
		.column1 { 
			width: 90%; 
		} 
	} 
</style> 
